# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

# You can update to the latest browserslist release and deduplicate packages by running:
#   npx update-browserslist-db@latest

last 2 Chrome versions
last 2 Firefox version
last 2 Edge major versions
last 2 Safari major versions
Firefox ESR
iOS >= 15
Android >= 5.1
