<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<div class="container">
  <div class="form-group">
    <div>
      XMPP domain
      <small>(e.g. jabber.example.com)</small>
    </div>
    <div>
      <input
        name="domain"
        [(ngModel)]="domain"
        class="form-control"
        type="text"
        placeholder="jabber.example.com"
      />
    </div>
  </div>

  <div class="form-group">
    <div>
      Host Websocket endpoint
      <small>(e.g. wss://jabber.example.com:5280/websocket)</small>
    </div>
    <div>
      <input
        name="service"
        [(ngModel)]="service"
        class="form-control"
        type="text"
        placeholder="wss://jabber.example.com:5280/websocket"
      />
    </div>
  </div>

  <div class="form-group">
    <div>
      Username
      <small>(e.g. test if test@jabber.example.com is your full JID)</small>
    </div>
    <div>
      <input
        name="username"
        [(ngModel)]="username"
        class="form-control"
        type="text"
        placeholder="test"
      />
    </div>
  </div>

  <div class="form-group">
    <div>Password</div>
    <div>
      <input
        name="password"
        [(ngModel)]="password"
        class="form-control"
        type="password"
        placeholder="Password"
      />
    </div>
  </div>

  <div>
    <button name="login" (click)="onLogin()">Log in</button>
    <button name="logout" (click)="onLogout()">Log out</button>
    <button name="register" (click)="onRegister()">Register</button>
    <button name="register" (click)="onUnregister()">Unregister</button>
    <button name="reconnect" (click)="onReconnect()">Reconnect</button>
  </div>

  <div data-zid="chat-connection-state">State: {{ state$ | async }}</div>

  <div *ngIf="registrationMessage$ | async as message">
    <p data-zid="registration-success">{{ message }}</p>
  </div>

  <hr />

  <div class="form-group">
    <div>Contact Management</div>
    <div>
      <input
        data-zid="contact-jid"
        [(ngModel)]="otherJid"
        class="form-control"
        type="text"
        placeholder="JID (name@domain)"
      />
    </div>
  </div>

  <button data-zid="add-contact" (click)="onAddContact()">Add contact</button>
  <button data-zid="remove-contact" (click)="onRemoveContact()">Remove contact</button>
  <button data-zid="block-contact" (click)="blockContact()">Block contact</button>
  <button data-zid="unblock-contact" (click)="unblockContact()">Unblock contact</button>
  <button data-zid="open-chat" (click)="onOpenChat()">Open chat</button>

  <hr />

  <div>
    <h2>Custom component for a chat session</h2>
    <ng-container
      *ngIf="
        (chatService.isOnline$ | async) &&
          (chatService.contactListService.contactsSubscribed$ | async)?.length > 0;
        else messagesComponentInformation
      "
    >
      <ngx-chat-history
        [recipient]="(chatService.contactListService.contactsSubscribed$ | async)?.[0]"
        [showAvatars]="true"
      ></ngx-chat-history>
      <ngx-chat-window-input
        [recipient]="(chatService.contactListService.contactsSubscribed$ | async)?.[0]"
      ></ngx-chat-window-input>
    </ng-container>
    <ng-template #messagesComponentInformation
      >You need to be logged in and have contacts to see this component</ng-template
    >
  </div>

  <hr />

    <hr />

    <div class="contact-pending-request-received-wrapper">
      debug contact requests in:
      <div
        class="contact-pending-request-received"
        *ngFor="let request of chatService.contactListService.contactRequestsReceived$ | async"
      >
        {{ request.name }}
      </div>
    </div>

    <hr />

    <div class="contact-pending-request-sent-wrapper">
      debug contact requests out:
      <div
        class="contact-pending-request-sent"
        *ngFor="let request of chatService.contactListService.contactRequestsSent$ | async"
      >
        {{ request.name }}
      </div>
    </div>

    <hr />

    <p>debug contacts (count: {{ (chatService.contactListService.contacts$ | async)?.length }})<br /></p>
    <p *ngFor="let contact of chatService.contactListService.contacts$ | async" style="margin-bottom: 1em">
      <em>{{ contact.name }}:</em><br />
      subscription={{ contact.subscription$ | async }}<br />
      presence={{ contact.presence$ | async }}<br />
    </p>

  <ngx-chat-iq></ngx-chat-iq>

  <ngx-chat-multi-user-chat></ngx-chat-multi-user-chat>

  <div>
    <h2>Unread messages count:</h2>
    Sum unread messages: {{ chatService.messageService.unreadMessageCountSum$ | async }}
    <pre>{{ chatService.messageService.jidToUnreadCount$ | async | keyvalue | json }}</pre>
  </div>
  <h2>More:</h2>
  <a routerLink="/ui">Show mock chats</a>
  <br />
  <a routerLink="/muc">Show multi user chat</a>
</div>

<ngx-chat [rosterState]="'shown'"></ngx-chat>
