<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<div class="container">
  <h2>More:</h2>
  <a routerLink="/ui">Show mock chats</a>
  <br />
  <a routerLink="/muc">Show multi user chat</a>
  <div class="form-group">
    <div>
      XMPP domain
      <small>(e.g. jabber.example.com)</small>
    </div>
    <div>
      <input
        name="domain"
        [(ngModel)]="domain"
        class="form-control"
        type="text"
        placeholder="jabber.example.com"
      />
    </div>
  </div>

  <div class="form-group">
    <div>
      Host Websocket endpoint
      <small>(e.g. wss://jabber.example.com:5280/websocket)</small>
    </div>
    <div>
      <input
        name="service"
        [(ngModel)]="service"
        class="form-control"
        type="text"
        placeholder="wss://jabber.example.com:5280/websocket"
      />
    </div>
  </div>
  <button data-zid="clean-up-jabber" (click)="cleanUpJabber()">Clean Up Jabber</button>
  <button data-zid="force-update" (click)="forceAppUpdate()">Rerender App</button>
  <form>
    <div class="form-group">
      <label for="username">
        Username
        <small>(e.g. test if test@jabber.example.com is your full JID)</small>
      </label>
      <input
        id="username"
        name="username"
        [(ngModel)]="username"
        class="form-control"
        type="text"
        placeholder="test"
        autocomplete="username"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        [(ngModel)]="password"
        class="form-control"
        type="password"
        placeholder="Password"
        autocomplete="current-password"
      />
    </div>
  </form>

  <div>
    <button name="login" (click)="onLogin()">Log in</button>
    <button name="logout" (click)="onLogout()">Log out</button>
    <button name="register" (click)="onRegister()">Register</button>
    <button name="unregister" (click)="onUnregister()">Unregister</button>
    <button name="reconnect" (click)="onReconnect()">Reconnect</button>
    <button name="notifications-enable" (click)="chatBackgroundNotificationServiceEnable()">
      Enable Notifications
    </button>
    <button name="log-ws" (click)="logWebstream()">log ws</button>
  </div>

  <div data-zid="chat-connection-state">State: {{ state$ | async }}</div>

  <div *ngIf="registrationMessage$ | async as message">
    <p data-zid="registration-success">{{ message }}</p>
  </div>

  <button name="watch-angular-stable" (click)="watchAngularStability()">Watch Angular Stability</button>

  <hr />
  <div *ngIf="chatService.isOnline$ | async; else offline">

    <ngx-chat-demo-stanza></ngx-chat-demo-stanza>

    <ngx-chat-demo-contact-management [domain]="domain"></ngx-chat-demo-contact-management>

    <ngx-chat-demo-muc></ngx-chat-demo-muc>
  </div>
  <ng-template #offline>
    <span *ngIf="chatService.isOffline$ | async">You need to be online.</span>
  </ng-template>
</div>

<ngx-chat [rosterState]="'shown'"></ngx-chat>
