<div class="container">
    <div class="form-group">
        <div>
            XMPP domain
            <small>(e.g. jabber.example.com)</small>
        </div>
        <div>
            <input name="domain" [(ngModel)]="domain" class="form-control" type="text" placeholder="jabber.example.com"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            Host Websocket endpoint
            <small>(e.g. wss://jabber.example.com:5280/websocket)</small>
        </div>
        <div>
            <input name="uri" [(ngModel)]="uri" class="form-control" type="text" placeholder="wss://jabber.example.com:5280/websocket"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            JID
            <small>(e.g. test@jabber.example.com)</small>
        </div>
        <div>
            <input name="jid" [(ngModel)]="jid" class="form-control" type="text" placeholder="test@jabber.example.com"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            Password
        </div>
        <div>
            <input name="password" [(ngModel)]="password" class="form-control" type="password" placeholder="Password"/>
        </div>
    </div>

    <div>
        <button name="login" (click)="onLogin()">Log in</button>
        <button name="logout" (click)="onLogout()">Log out</button>
        <button name="register" (click)="onRegister()">Register</button>
        <button name="reconnect" (click)="onReconnect()">Reconnect</button>
    </div>

    <div>State: {{chatService.state$ | async}} (internal state: {{client.status}})</div>

    <div *ngIf="registrationMessage">
        <p>{{registrationMessage}}</p>
    </div>

    <hr/>

    <div class="form-group">
        <div>
            Contact Management
        </div>
        <div>
            <input [(ngModel)]="otherJid" class="form-control" type="text" placeholder="JID"/>
        </div>
    </div>

    <button (click)="onAddContact()">Add contact</button>
    <button (click)="onRemoveContact()">Remove contact</button>

    <hr/>

    <button (click)="chatService.enableDebugging = !chatService.enableDebugging">Enable debugging</button>
    <button (click)="onToggleContactList()">Toggle contact list</button>


    <div>
        <h2>Custom component for a chat session</h2>
        <ng-container *ngIf="(chatService.contactsSubscribed$ | async).length > 0; else messagesComponentInformation">
            <ngx-chat-message-list [contact]="(chatService.contactsSubscribed$ | async)[0]"
                                   [showAvatars]="true"></ngx-chat-message-list>
            <ngx-chat-message-input [contact]="(chatService.contactsSubscribed$ | async)[0]"></ngx-chat-message-input>
        </ng-container>
        <ng-template #messagesComponentInformation>You need to be logged in and have contacts to see this component</ng-template>
    </div>


    <hr/>

    <app-iq></app-iq>

    <app-send-stanza></app-send-stanza>

    <app-multi-user-chat></app-multi-user-chat>

</div>

<ngx-chat [contacts]="contacts"></ngx-chat>
