<div class="container">
    <div class="form-group">
        <div>
            XMPP domain
            <small>(e.g. jabber.example.com)</small>
        </div>
        <div>
            <input [(ngModel)]="domain" class="form-control" type="text" placeholder="jabber.example.com"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            Host Websocket endpoint
            <small>(e.g. wss://jabber.example.com:5280/websocket)</small>
        </div>
        <div>
            <input [(ngModel)]="uri" class="form-control" type="text" placeholder="wss://jabber.example.com:5280/websocket"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            JID
            <small>(e.g. test@jabber.example.com)</small>
        </div>
        <div>
            <input [(ngModel)]="jid" class="form-control" type="text" placeholder="test@jabber.example.com"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            Password
        </div>
        <div>
            <input [(ngModel)]="password" class="form-control" type="password" placeholder="Password"/>
        </div>
    </div>

    <button (click)="onLogin()">Log in</button>
    <button (click)="onLogout()">Log out</button>

    <hr />

    <div class="form-group">
        <div>
            Contact Management
        </div>
        <div>
            <input [(ngModel)]="otherJid" class="form-control" type="text" placeholder="JID"/>
        </div>
    </div>

    <button (click)="onAddContact()">Add contact</button>
    <button (click)="onRemoveContact()">Remove contact</button>

    <hr/>

    <button (click)="chatService.enableDebugging = !chatService.enableDebugging">Enable debugging</button>
    <button (click)="onToggleContactList()">Toggle contact list</button>

</div>

<ngx-chat [contacts]="contacts"></ngx-chat>
