/* SPDX-License-Identifier: AGPL-3.0-or-later */

ngx-chat-message-input {
  display: block;
  border: 1px solid #dadada;
  width: 100%;
  padding: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5em;
}

th,
td {
  padding: 0.3em;
  border: 1px solid #999;
}

td {
  text-align: center;
}
