<div>
    <h2>Chat rooms:</h2>
    <div *ngIf="(chatService.state$ | async) === 'online'; else offline">
        <div *ngFor="let room of (multiUserChatPlugin.rooms$ | async)">
            <button (click)="selectedRoom = room">
                {{room.roomJid.bare().toString()}}
            </button>
        </div>

        <ngx-chat-room-messages *ngIf="selectedRoom" [room]="selectedRoom"></ngx-chat-room-messages>
        <ngx-chat-message-input [room]="selectedRoom"></ngx-chat-message-input>

        <span *ngIf="(multiUserChatPlugin.rooms$ | async).length === 0">(no room joined yet)</span>

        <input [(ngModel)]="roomJid" class="form-control" type="text" placeholder="room"/>
        <button (click)="joinRoom(roomJid)">Join room</button>
    </div>

    <ng-template #offline>
        <span *ngIf="(chatService.state$ | async) !== 'online'">You need to be online.</span>
    </ng-template>
</div>
