/* SPDX-License-Identifier: AGPL-3.0-or-later */

:host {
  font-family: 'Roboto', sans-serif;
}

nav {
  grid-area: nav;
  background-color: #666;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav a {
  color: #fff;
}

aside {
  padding: 1em;
}

.grid {
  display: grid;
  grid-template-areas:
    'nav nav nav nav nav'
    'left main main main right';
}

.grid aside:first-child {
  grid-area: left;
}

.grid aside:last-child {
  grid-area: right;
}

.grid main {
  grid-area: main;
  padding: 0 20px;
}

ul > li {
  background-color: #eee;
  padding: 0.5em 1em;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.list-item {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  background-color: #eee;
  border-radius: 0.5em;
}
